body {
  font-family: 'bender';
  background-color: black;
}

h1 {
  font-size: 35px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

div#container {
  background-color: black;
  width: 900px;
  margin: 0 auto;
}

div.none-selector {
  background-color: black;
  width: 70px;
  /* left: 80px; */
  height: 70px;
  position: relative;
  float: right;
}

div.item-container {
  background-color: black;
  color: greenyellow;

  border-style: solid;
  border-color: greenyellow;

  padding: 5px;
  margin: 15px;
  height: 70px;

  white-space: nowrap;
}

div.item-details {
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

div.item-title {
  position: relative;
  top: -15px;

  background-color: black;

  width: fit-content;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 5px;

  user-select: none;
  cursor: default;
}

div.item-name {
  position: relative;
  text-align: left;
  font-size: x-large;
  color: yellow;
}

div.add-text {
  animation-duration: 500ms;
  animation-name: slidein;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes slidein {
  
  from {
    margin-top: 0px;
    margin-left: 0%;
    width: 100%;
  }
  
  to {
    margin-top: 0px;
    margin-left: 100%;
    width: 300%;
  }
}