body {
  font-family: 'bender';
  background-color: black;
}

h1 {
  font-size: 35px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

div#container {
  background-color: black;
  width: 900px;
  margin: 0 auto;
}

div#reRollAll {
  position: relative;
  top: 20px;
  background-color: darkred;
  width: 800px;
  margin: 0 auto;
  border-style: solid;
  border-color: #404040;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  font-weight: 600;

  cursor: pointer;
  user-select: none;
}

div#instructions {
  position: relative;
  top: 60px;
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
}

div#jibberjabber {
  top: 65px;
  position: relative;
  background-color: darkgrey;
  padding: 10px;
  border-radius: 5px;
}

div.title {
  font-weight: bold;
  border-bottom: black;
}

div.description {
  padding-top: 5px;
  padding-bottom: 5px;

}

div.tips {
  display: list-item;          /* This has to be "list-item"                                               */
  list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
  list-style-position: inside;
}

div.none-selector {
  background-color: black;
  width: 70px;
  height: 70px;
  position: relative;
  float: right;
}

div.item-container {
  background-color: black;
  color: greenyellow;

  border-style: solid;
  border-color: greenyellow;

  padding: 5px;
  margin: 15px;
  height: 70px;

  white-space: nowrap;
}

div.item-details {
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

div.item-title {
  position: relative;
  top: -15px;

  background-color: black;

  width: fit-content;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 5px;

  user-select: none;
  cursor: default;
}

div.item-name {
  position: relative;
  text-align: left;
  font-size: x-large;
  color: yellow;
}

div.add-text {
  animation-duration: 500ms;
  animation-name: slidein;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes slidein {
  
  from {
    margin-top: 0px;
    margin-left: 0%;
    width: 100%;
  }
  
  to {
    margin-top: 0px;
    margin-left: 100%;
    width: 300%;
  }
}